@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F2F1;
  --foreground: #262626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #e5e5e5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
