name: Code Quality
on:
  - push

jobs:
  lint:
    runs-on: ubuntu-latest
    name: NPM Lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20.18.1
      - run: npm install
      - run: npm run lint